ul, ol, li {
    list-style: none;
}

article, aside, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

button>* {
    position: relative;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
}

button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}

.container {
    width: 1184px;
    margin: 0 auto;
    padding-left: 250px;
    z-index: 11;
}

.container .contents {
    position: relative;
    width: 932px;
    min-height: 900px;
    padding: 0 0 0 0;
    z-index: 4;
}

.info {
    position: relative;
    top: 0;
    background: #fff;
    padding: 25px 31px 13px 48px;
    display: flex;
    width: 932px;
    border: 1px solid #ebecec;
    border-bottom-right-radius: 8px;
    border-width: 0 1px 1px 0;
    box-sizing: border-box;
    z-index: 10;
    flex-wrap: wrap;
}

.info .info_title {
    -webkit-box-flex: 1;
    flex: 1;
}

.info .title_area {
    position: relative;
}

.info .title_area::after {
    content: "";
    display: block;
    clear: both;
}

.info .title_area h2 {
    font-size: 21px;
    word-break: break-all;
    display: inline;
    color: #000;
    letter-spacing: -.1px;
}

.info .info_broadcast {
    display: inline-block;
    margin-left: 4px;
    vertical-align: text-bottom;
    position: relative;
    top: 2px;
}

.info .info_broadcast span {
    display: block;
    background: url(../images/info_icon.svg) center no-repeat;
    background-size: 2px 12px;
    width: 23px;
    height: 23px;
    border: solid 1px #a0a0a0;
    border-radius: 50%;
    font: 0/0 a;
}

[tip] {
    position: relative;
    overflow: visible;
    color: transparent;
    border: none;
    background-color : white;
}

[tip]::after {
    content: attr(tip) "\a" attr(tip2);
    bottom: -32px;
    background: #373d40;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.2;
    font-family: "NGB", verdana, applegothic, sans-serif;
    z-index: 10;
}

[tip]::before {
    content: "";
    bottom: -8px;
    background: url(../images/info_tip_icon.svg) 50% 100% no-repeat;
    background-size: 10px 5px;
    width: 100%;
    height: 15px;
    z-index: 10;
}

[tip]::before, [tip]::after {
    position: absolute;
    visibility: hidden;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    transform: translateX(-60%);
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.info .explanation {
    display: inline-block;
    vertical-align: 9px;
    max-width: calc(100% - 55px);
    position: relative;
    margin-top: 16px;
    color: #555;
    font-size: 14px;
    line-height: 1.4;
}

.info .explanation button {
    position: absolute;
    top: -5px;
    z-index: 5;
}

.info .modify {
    right: -55px;
    padding: 8px;
}

.info .modify span {
    background: url(../images/edit.svg) 0 0 no-repeat;
    width: 13px;
    height: 13px;
}

.info .explanation button span {
    display: block;
    font: 0/0 a;
}

.info .items {
    margin-left: 40px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.info .btns button {
    margin-left: 24px;
    height: 36px;
    padding: 0;
    float: left;
    background: #fff;
    border-radius: 4px;
    transition: all .2s ease;
    cursor: text;
}

.info .btns::after {
    content: "";
    display: block;
    clear: both;
}

.info .favor, .info .subscribe {
    padding: 0;
    border-color: transparent;
    cursor: initial;
    background: transparent;
    border: 0;
}

.info .sticker {
    margin-left: 24px;
    width: 36px;
    border: 1px solid #eceff1;
}

.info .favor em {
    background: url(../images/info_favor.svg) 0 0 no-repeat;
    width: 16px;
    height: 15px;
    margin-right: 6px;
    vertical-align: 12px;
    display: inline-block;
    font: 0/0 a;
}

.info .subscribe em {
    background: url(../images/info_subscribe.svg) 0 0 no-repeat;
    width: 18px;
    height: 16px;
    margin-right: 4px;
    vertical-align: 11px;
    display: inline-block;
    font: 0/0 a;
}

.sticker em {
    background: url(../images/info_sticker.svg) 50% no-repeat;
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    font: 0/0 a;
    vertical-align: 11px;
}

.BoardList_Main {
    position: relative;
    padding: 25px 0 0 48px;
    transition: all .2s ease;
    z-index: 10;
    min-height: 887px;
}

.BoardList_Cnt {
    margin-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9dddf;
}

.BoardList_Cnt span {
    min-height: 36px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: #666;
    font-size: 13px;
}

.BoardList_Cnt em {
    color: #4279ff;
}

.boardlist {
    margin-top: -1px;
    border-top: 1px solid #d9dddf;
}

.boardlist table {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.col1 {
    width: 120px;
}

.col2 {
    width: 96px;
}

.col3 {
    width: 64px;
}

.col4 {
    width: 96px;
}

.boardlist table th {
    height: 44px;
    color: #555;
}

.boardlist table th, .boardlist table td {
    color: #666;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
}

.boardlist .nick {
    position: relative;
    padding-left: 8px;
}

.boardlist table td {
    height: 34px;
    padding: 5px 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 13px;
}

.boardlist .subject {
    padding-left: 16px;
    overflow: hidden;
}

.boardlist .subject .categoty {
    width: 88px;
    padding-right: 8px;
}

.boardlist .subject .categoty, .boardlist .subject .title {
    display: table-cell;
    vertical-align: middle;
}

.boardlist .subject .categoty span {
    display: block;
    overflow: hidden;
    width: 88px;
    color: #aaa;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 12px;
    white-space: nowrap;
}

.boardlist .subject .categoty+.title:nth-child(2) {
    max-width: 400px;
}

.boardlist .subject .categoty+.title {
    max-width: 360px;
}

.boardlist .subject .title {
    max-width: 492px;
    line-height: 0;
    text-align: left;
    font-size: 0;
    word-wrap: break-word;
}

.boardlist .subject .title a {
    display: inline;
    color: #333;
    line-height: 1.3;
    font-size: 14px;
    word-break: break-word;
    word-wrap: break-word;
}





