@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    width: 100%;
    height: 100%;
}

body, ul, li{
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    min-width: 1100px;
    border-bottom: 1px solid #ecf0f5;
    box-sizing: border-box;
    z-index: 1500;
    min-height: 80px;
}

.header *{
    box-sizing: border-box;
    font-size: 12px;
    font-family: "NG";
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    margin: 0;
}

.logo a{
    display: block;
    flex: 0 0 auto;
    background: url(../images/logo192.png) 50% 50% no-repeat;
    background-size: 110px 85px;
    width: 210px;
    height: 100%;
    font: 0/0 a;
}

.util{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 50px;
}

.btnBroadcast{
    background: url(../images/broadcast.svg)
    50% 50% no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3001;
    transition: all .2s;
}

.util button:hover{
    background-color: #f5f6f7;
}

.notice-Area{
    position: relative;
    margin-left: 16px;
    font-size: 0;
}

.btn-notice{
    width: 40px;
    height: 40px;
    border: 0;
    padding:0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    transition: all .2s;
}

.btn-notice span{
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    background: url(../images/notice.svg) 50% 50% no-repeat;
    background-size: 40px 40px;
    margin-left: 0;
    border-radius: 50%;
    font: 0/0 a;
}

.loginBtn{
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    margin-left: 14px;
    padding: 0 6px;
    border-radius: 6px;
    color: #333;
    font-size: 18px;
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
    border: 0;
    background-color: #fff;
    cursor: pointer;
    z-index: 3001;
    transition: all .2s;
}

.btn-settings{
    background: url(../images/setting.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    font: 0/0 a;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3001;
    transition: all .2s;
}

.serviceMenu{
    position: relative;
    margin-left: 16px;
}

.btn-allMenu{
    background: url(../images/allmenu.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    font: 0/0 a;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3001;
    transition: all .2s;
}

.searchArea{
    position: absolute;
    top: 10px;
    left: 244px;
    z-index: 3000;
    line-height: 100%;
    text-align: left;
}

.search_window{
    background: transparent;
    width: 424px;
    padding: 12px 10px 12px 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.txt-search{
    position: relative;
    min-height: 34px;
    padding-left: 16px;
    font-size: 15px;
    width: 404px;
    padding-right: 38px;
    border: 1px solid #4279ff;
    border-radius: 36px;
}

.txt-search:focus{
    outline: none;
}

.btn-search{
    position: absolute;
    right: 10px;
    top: 11px;
    background: url(../images/search_btn.svg) 50% 50% no-repeat;
    background-size: 19px 19px;
    width: 34px;
    height: 34px;
    border: 0 none;
    z-index: 10;
    font: 0/0 a !important;
    cursor: pointer;
    vertical-align: top;
}

.nav{
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    width: 209px;
    border-right: 1px solid #e5ebf2;
    z-index: 100;
}

.mb_content{
    width: 100%;
    height: 100%;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
}

.navService{
    width: 210px;
    padding: 15px 13px 30px 12px;
    box-sizing: border-box;
}

.navService>li:first-of-type{
    margin-top: 0px;
}

.navService>li{
    margin-top: 12px;
}

.navService>li>h3{
    margin-top: 0;
}

.navService>li>h3>*{
    font-weight: bold;
}


.subMenu>li>:hover{
    color: #4279ff;
    font-weight: bold;
}

.btnHome{
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
    padding-left: 16px;
    margin-bottom: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    color: #333;
    font-size: 17px;
    transition: all .2s;
    background-color: #f2f8ff;
    border: 0;
    font-family: 'Cafe24Oneprettynight';
    cursor: pointer;
}

.btnHome:hover{
    color: #333;
}


.navService>li:nth-last-child(-n+3) h3 a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
    padding-left: 16px;
    border-radius: 6px;
    box-sizing: border-box;
    color: #333;
    font-size: 17px;
    transition: all .2s;
    background-color: #fff;
    border: 0;
    font-family: 'Cafe24Oneprettynight';
    cursor: pointer;
}

.navService>li:nth-last-child(-n+3) h3 a:hover{
    background-color: #f2f8ff;
}



.btnHome::before{
    background: url(../images/home.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.btnEsport::before{
    background: url(../images/esport.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.btnEsport:hover::before{
    filter: invert(10%) sepia(10%) saturate(10000%) hue-rotate(110deg) brightness(120%) contrast(100%);
}

.btnVOD::before{
    background: url(../images/VOD.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.btnBookmark::before{
    background: url(../images/Bookmark.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.btnBookmark:hover::before{
    filter: invert(10%) sepia(15%) saturate(10000%) hue-rotate(20deg) brightness(170%) contrast(100%);
}

.subMenu li .all{
    color: #4279ff;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 36px;
    padding-left: 48px;
    font-size: 16px;
    font-family: 'Cafe24Oneprettynight';
}

.subMenu li a{
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 36px;
    padding-left: 48px;
    font-size: 16px;
    font-family: 'Cafe24Oneprettynight';
}

.otherService{
    width: 161px;
    margin-left: 30px;
    border-top: 1px solid #eee;
}

.otherService li:first-child{
    margin-top: 35px;
}

.otherService li{
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
}

/* 로그인 후 */
.profileWrap{
    position: relative;
    margin-left: 16px;
}

.userInfo{
    display: flex;
    align-items: center;
}

.profileWrap .userInfo .thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
}

.thumb img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo .btn_login{
    display: flex;
    align-items: center;
    margin-left: 0;
    padding: 0 6px;
    height: 40px;
    border-radius: 6px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Cafe24Oneprettynight';
    border: 0;
    background-color: #fff;
    transition: all .2s;
}

.userInfo .btn_login::after{
    content: "";
    display: block;
    background: url(../images/profile_arrow.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    width: 11px;
    height: 6px;
    margin-left: 7px;
}

.userInfo .btn_login:hover{
    background-color: #f5f6f7;
}

.userArea{
    display: block;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 7%);
    z-index: 3002;
}

.hide_userArea{
    display: none;
}

.btnLogout{
    overflow: hidden;
    background-color: #f7f7f7;
    width: 150px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.btnLogout .logout span{
    font-family: 'Cafe24Oneprettynight';
    font-size: 14px;
    font-weight: bold;
}

.btn_quick{
    display: flex;
    padding-top: 4px;
}

.btn_quick a{
    display: block;
    height: 55px;
    color: #888;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    font-family: 'Cafe24Oneprettynight';
}

.btn_quick .myBroadcast{
    background: url(../images/mybroadcast.svg) 50% 50% no-repeat;
    position: relative;
    background-position: 50% 8px;
    background-size: 22px 22px;
    width: 75px;
}

.btn_quick .myBroadcast::before{
    content: "";
    display: block;
    height: 32px;
}

.btn_quick .myBroadcast::after{
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    background: #ebecee;
    width: 1px;
    height: 33px;
}

.btn_quick .bookMark{
    background: url(../images/Bookmark.svg) 50% 50% no-repeat;
    position: relative;
    background-position: 50% 8px;
    background-size: 22px 22px;
    width: 75px;
}

.btn_quick .bookMark::before{
    content: "";
    display: block;
    height: 32px;
}

.userArea .menuList{
    margin: 0;
    padding: 10px 0 10px 16px;
    border-top: 1px solid #ebebeb;
}

.userArea .menuList li{
    display: flex;
    align-items: center;
    min-height: 26px;
}

.userArea .menuList li a{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 27px;
    color: #555;
}

.userArea .menuList li a:hover{
    font-weight: bold;
}

.menuList li a.my_info::before{
    content: "";
    position: absolute;
    left: 0;
    background: url(../images/my_info.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.menuList li a.my_balloon::before{
    content: "";
    position: absolute;
    left: 0;
    background: url(../images/starballoon.svg) 50% 50% no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}